.card {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: relative;

  .card-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
  }

  .btn-view,
  .btn-delete {
    padding: 5px 10px;
    border: none;
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
  }

  .btn-view {
    background-color: #337ab7;
  }

  .btn-delete {
    background-color: #d9534f;
  }
}
