<div>
  <h2>All Users</h2>

  <div *ngFor="let user of users">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <strong>{{ user.name }}</strong> (ID: {{ user.id }})
        </h3>
      </div>
      <div class="card-body">
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Phone: {{ user.phone }}</p>
        <p>Website: {{ user.website }}</p>
        <p>
          Address: {{ user.address.street }}, {{ user.address.suite }},
          {{ user.address.city }}, {{ user.address.zipcode }}
        </p>
        <p>Company: {{ user.company.name }}</p>
        <p>Catch Phrase: {{ user.company.catchPhrase }}</p>
        <p>Business: {{ user.company.bs }}</p>
        <p>
          Geo: Lat: {{ user.address.geo.lat }}, Lng: {{ user.address.geo.lng }}
        </p>
      </div>
      <div class="card-actions">
        <button class="btn-delete" [routerLink]="['/delete-user', user.id]">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
